{% extends 'base.html.twig' %}

{% block content %}
    <p>Ups! Parece que lo ultimo que hiciste gener&oacute; un error...</p>
    <p>No te preocupes, nuestro equipo est&aacute; analizando el problema y pronto podr&aacute;s seguir con tu trabajo normalmente</p>
    <p>Disculp&aacute; las molestias.</p>
{% endblock %}