{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} -  Editar cliente
{% endblock %}

{% block headline %}Editar cliente<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.telefono) }}
        {{ form_row(edit_form.email) }}
        {{ form_label(edit_form.vehiculos) }}
        <table class="table table-bordered vehiculos" id="vehiculo-fields-list" data-prototype="&lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;cliente_vehiculos___name___patente&quot; name=&quot;cliente[vehiculos][__name__][patente]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; class=&quot;form-control&quot;&gt;&lt;/td&gt;&lt;td&gt;&lt;select id=&quot;cliente_vehiculos___name___kmsPorAnio&quot; name=&quot;cliente[vehiculos][__name__][kmsPorAnio]&quot; class=&quot;form-control&quot;&gt;&lt;option value=&quot;5000&quot;&gt;Hasta 5.000&lt;/option&gt;&lt;option value=&quot;10000&quot;&gt;Hasta 10.000&lt;/option&gt;&lt;option value=&quot;15000&quot;&gt;Hasta 15.000&lt;/option&gt;&lt;option value=&quot;25000&quot;&gt;Hasta 25.000&lt;/option&gt;&lt;option value=&quot;40000&quot;&gt;Hasta 40.000&lt;/option&gt;&lt;option value=&quot;80000&quot;&gt;Mas de 40.000&lt;/option&gt;&lt;/select&gt;&lt;/td&gt;">
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Kms. recorridos por año</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for form_vehiculo in edit_form.vehiculos %}
                <tr data-show-link="{{ path( 'vehiculo_show', { id: form_vehiculo.id.vars.value } ) }}" data-newservice-link="{{ path( 'visita_new', { vehiculoid: form_vehiculo.id.vars.value } ) }}">
                    <td>{{ form_widget(form_vehiculo.patente) }}</td>
                    <td>{{ form_widget(form_vehiculo.kmsPorAnio) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>
        </p>
        {{ form_widget(edit_form._token) }}
        {{ form_end(edit_form, { 'render_rest': false }) }}
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('cliente') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al listado
            </a>
            <form action="{{ path('cliente_delete', { 'id': cliente.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('¿Está seguro?');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Eliminar
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var $collectionHolder;

        var $addVehiculoLink = $(
            '<td colspan="3" align="right">' +
            '   <a class="btn btn-primary h3 pull-right add_vehiculo_link" style="margin-bottom:10px" href="#">' +
            '       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo' +
            '   </a>' +
            '</td>'
        );
        var $newLinkRow = $('<tr></tr>').append($addVehiculoLink);

        jQuery(document).ready(function() {
            $collectionHolder = $('table.vehiculos');

            $collectionHolder.find('tbody > tr').each(function() {
                $(this).append($('<td></td>'));
                addVehiculoShowLink($(this)).append('&nbsp;');
                addNewServiceLink($(this)).append('&nbsp;');
                addVehiculoFormDeleteLink($(this));
            });

            $collectionHolder.append($newLinkRow);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addVehiculoLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addVehiculoForm($collectionHolder, $newLinkRow);
            });
        });

        function addVehiculoForm($collectionHolder, $newLinkRow) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            var $newFormRow = $('<tr></tr>').append(newForm);
            $newLinkRow.before($newFormRow);
            $newFormRow.append('<td></td>');
            addVehiculoFormDeleteLink($newFormRow);
        }

        function addVehiculoFormDeleteLink(tr) {
            var $removeFormA = $('<a title="Eliminar" onclick="return confirm(\'¿Está seguro?\');" class="btn btn-danger btn-sm" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>');

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                tr.remove();
            });

            return tr.find('td').last().append($removeFormA);
        }

        function addVehiculoShowLink(tr) {
            var $showA = $(
                '<a title="Ver detalles" class="btn btn-default btn-sm" href="' + tr.data('show-link') + '">' +
                    '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>' +
                '</a>');

            return tr.find('td').last().append($showA);
        }

        function addNewServiceLink(tr) {
            var $newServiceA = $(
                '<a title="Nuevo service" class="btn btn-info btn-sm" href="' + tr.data('newservice-link') + '">' +
                    '<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>' +
                '</a>');

            return tr.find('td').last().append($newServiceA);
        }
    </script>
{% endblock %}