{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Enviar correo
{% endblock %}

{% block headline %}Enviar correo <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ form_start(form) }}
        {% if preview %}
            <table class="table table-bordered">
                <tr>
                    <td>{{ subject }}</td>
                </tr>
                <tr>
                    <td>{{ preview | raw }}</td>
                </tr>
            </table>
            <button type="submit" name="submit" value="send" class="btn btn-primary">
                Enviar <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </button>
            <a class="btn btn-default" href="{{ path('cliente') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al listado
            </a>
            <hr/>
        {% endif %}
        {{ form_widget(form) }}
        <p>
            <button type="submit" name="submit" value="preview" class="btn btn-primary">
                Vista previa <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <a class="btn btn-default" href="{{ path('cliente') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al listado
            </a>
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}

