{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}
{% block head %}
    <head>
        <meta charset="{{ _charset }}"/>
        {% block head_style %}
            {% stylesheets
                'bundles/mopabootstrap/less/mopabootstrapbundle-fa.less'
            'bundles/mopabootstrap/less/subnav.less'
            'bundles/mopabootstrap/less/mopabootstrapbundle.less'
            'bundles/mopabootstrap/less/paginator.less'
                filter='cssrewrite' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}
        {% endblock head_style %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/petkoparacrudgenerator/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/petkoparacrudgenerator/images/favicon.ico') }}">
    </head>
{% endblock head %}
{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
        {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { staticTop: true } %}
            {% block brand %}
                <a target="_blank" class="navbar-brand" href="http://leewayweb.com"><img src="{{ asset('images/logo_leeway.png') }}"/></a>
            {% endblock %}
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                {% block menu %}
                    {{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu', {'automenu':'navbar'}) }}
                {% endblock %}
            {% endif %}
        {% endembed %}
    {% endblock navbar %}
    {% block container %}
        {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
        {% block header %}{% endblock header %}
        {% block content_div_start %}<div class="content">{% endblock content_div_start %}
        {% block page_header %}
            <div class="page-header">
                <h1>{% block headline %}{% endblock headline %}</h1>
            </div>
        {% endblock page_header %}
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}
        {% block content_row %}
            <div class="row">
                {% block content %}{% endblock content %}
            </div>
        {% endblock content_row %}
        {% block content_div_end %}</div>{% endblock content_div_end %}
        {% block footer_tag_start %}
            <footer>
        {% endblock footer_tag_start %}
        {% block footer %}
        {% endblock footer %}
        {% block footer_tag_end %}
            </footer>
        {% endblock footer_tag_end %}
        {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
    {% endblock container %}
    {% block body_end_before_js %}{% endblock body_end_before_js %}
    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
        {% block foot_script_assetic %}
            {# Please add the javascripts you need in your project #}
            {% block javascript %}
                <script src="{{ asset('bundles/petkoparacrudgenerator/js/jquery.min.js') }}"></script>
                <script src="{{ asset('bundles/petkoparacrudgenerator/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
            {% endblock %}
        {% endblock foot_script_assetic %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();
            });
        </script>
    {% endblock foot_script %}
    {% endblock body %}
{% block body_end %}{% endblock body_end %}
</body>
</html>