<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
       style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody>
    <tr>
        <td valign="top"
            style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            {% if taller.website %}<a href="{{ taller.website }}">{% endif %}<img align="center" alt="{{ taller.nombre }}"
                 src="{{ url('showPicture', { 'fileName' : taller.logo } ) }}"
                 width="75"
                                                                                  style="max-width: 75px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">{% if taller.website %}</a>{% endif %}
        </td>
        <td><strong>{{ taller.nombre }}</strong></td>
    </tr>
    </tbody>
</table>
<div style="font-family:arial,helvetica neue,helvetica,sans-serif">
    Estimado/a {{ cliente.nombre }}:
    <br/>
    {% block body %}{{ body | raw }}{% endblock %}
    <br/>
    Lo esperamos en <a href="{{ taller.linkMapa }}">{{ taller.direccion }}</a>.
    <img align="right" alt="{{ responsable.nombre }}" height="204" src="{{ url('showPicture', { 'fileName' : responsable.foto } ) }}" style="border-radius: 50%;"/>
    <div style="clear: both"><p align="center" style="font-size: xx-small">Powered by <a href="http://leewayweb.com" target="_blank">Leeway</a></p></div>
</div>