{% extends 'mail_base.html.twig' %}

{% block body %}
<br/>
&nbsp;De acuerdo al uso que se le da a su automotor patente {{ vehiculo.patente }}, es el momento de realizar el servicio correspondiente a <strong>{{ servicio | lower }}</strong>.
<br/>
<br/>
&nbsp;Tenga en cuenta que, de no realizarlo pronto <strong>{{ servicio.consecuenciasNoHacerlo | lower }}.</strong><br/>
<br/>
&nbsp;Le recomendamos acercarse al taller para realizar el mantenimiento necesario. De paso le damos una revisada completa al auto as&iacute; puede seguir us&aacute;ndolo tranquilo.<br/>
<br/>
{% endblock %}