{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} -  Editar vehículo
{% endblock %}

{% block headline %}Editar vehículo <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>
        </p>
        {{ form_end(edit_form) }}
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('vehiculo') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al listado
            </a>
            <a class="btn btn-info" href="{{ path('vehiculo_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Nuevo
            </a>
            <form action="{{ path('vehiculo_delete', { 'id': vehiculo.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('¿Está seguro?');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Eliminar
                </button>
            </form>
        </div>
    </div>
{% endblock %}

