{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - vehículos
{% endblock %}

{% block headline %}Vehículos{% endblock %}
{% block content %}
    <div class="row">
        <!-- FILTERING -->
        <div class="col-md-12">
            <div id="filters" class="collapse">
                <form class="well" action="{{ path('vehiculo') }}" method="get">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(filterForm.patente) }}</div>
                        <div class="col-md-6">{{ form_row(filterForm.kmsPorAnio) }}</div>
                        <div class="col-md-6">
                            {{ form_rest(filterForm) }}
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning" name="filter_action" value="filter"><span
                                            class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar
                                </button>
                                <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span
                                            class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reiniciar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FILTERING -->


        <div class="col-md-3 pull-left">
            <!-- PAGE SIZE -->
            <div class="pagination form-inline ">
                <select class="form-control" onchange="window.location = this.value">
                    <option value='{{ path('vehiculo', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                        10
                    </option>
                    <option value='{{ path('vehiculo', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                        20
                    </option>
                    <option value='{{ path('vehiculo', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                        50
                    </option>
                    <option value='{{ path('vehiculo', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                        100
                    </option>
                    <option value='{{ path('vehiculo', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                        500
                    </option>
                </select>
            </div>
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-3">
            <a class="btn btn-primary h3 pull-right" href="{{ path('vehiculo_new') }}" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
            </a>
            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                Filtrar
                <span class="caret"></span>
            </a>
        </div>
        <div class="col-md-12">
            {%- if form_errors(filterForm) %}
                <div class="alert alert-block alert-error fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
        </div>
    </div> <!-- /#top -->

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="table-responsive col-md-12">
            <form method="POST" id="bulk_form" action="{{ path('vehiculo_bulk_action') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
                        {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                        <th>{{ macros.th_sortable('patente',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'vehiculo') }}</th>
                        <th>Cliente</th>
                        <th width="130px">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehiculo in vehiculos %}
                        <tr>
                            <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all"
                                       value="{{ vehiculo.id }}"/></td>
                            <td>{{ vehiculo.patente }}</td>
                            <td><a href="{{ url('cliente_edit', { 'id' : vehiculo.propietario.id }) }}">{{ vehiculo.propietario }}</a></td>
                            <td class="actions">
                                <a onclick="return confirm('Esta seguro?');" title="Eliminar"
                                   class="btn btn-danger btn-sm"
                                   href="{{ path('vehiculo_by_id_delete', { 'id': vehiculo.id}) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                                <a title='Editar' class="btn btn-primary btn-sm"
                                   href="{{ path('vehiculo_edit', { 'id': vehiculo.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a title='Nuevo servicio' class="btn btn-info btn-sm"
                                   href="{{ path('visita_new', { 'vehiculoid': vehiculo.id }) }}">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                </a>
                                <a title='Ver detalles' class="btn btn-default btn-sm"
                                   href="{{ path('vehiculo_show', { 'id': vehiculo.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div> <!-- /#list -->

    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class="form-control" name="bulk_action">
                    <option value="delete">ELIMINAR</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Esta seguro?')" form="bulk_form"
                       class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2 text-right">
            {{ pagerHtml|raw }}
        </div>
    </div> <!-- /#bottom -->
{% endblock %}