{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - vehiculo
{% endblock %}

{% block headline %}Detalles del vehículo {{ vehiculo.patente }}{% endblock %}
{% block content %}
    <div class="row">
        <table class="table">
            <tr>
                <td><strong>Kms. recorridos por anio</strong></td>
                <td>{{ vehiculo.kmsPorAnio }}</td>
            </tr>
            <tr>
                <td><strong>Cliente</strong></td>
                <td>
                    <a href="{{ url('cliente_edit', { "id" : vehiculo.propietario.id}) }}">{{ vehiculo.propietario }}</a>
                </td>
            </tr>
            <tr>
                <td><strong>Visitas</strong></td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Service realizados</th>
                            <th>Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in vehiculo.visitas %}
                            <tr>
                                <td>{{ v.fecha | date('d-m-Y') }}</td>
                                <td><table>
                                        {% for s in v.serviciosRealizados %}
                                            <tr>
                                                <td>{{ s.nombre }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>{{ v.observaciones }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('cliente_edit', { id: vehiculo.propietario.id }) }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al listado
            </a>
            <a class="btn btn-primary" href="{{ path('vehiculo_edit', { 'id':  vehiculo.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Editar
            </a>
            <a class="btn btn-info" href="{{ path( 'visita_new', { 'vehiculoid': vehiculo.id } ) }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Nuevo servicio
            </a>
            <form action="{{ path('vehiculo_delete', { 'id': vehiculo.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Esta seguro?');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Eliminar
                </button>
            </form>
        </div>
    </div>
{% endblock %}

